<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DailyInfoSoap"/>
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IExServiceContract"/>
                <binding name="NetTcpBinding_IWtServiceContract"/>
                <binding name="NetTcpBinding_INoteServiceContract"/>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.cbr.ru/DailyInfoWebServ/DailyInfo.asmx" binding="basicHttpBinding" bindingConfiguration="DailyInfoSoap" contract="RbcService.DailyInfoSoap" name="DailyInfoSoap"/>
            <endpoint address="net.tcp://127.0.0.1:6000/Icontract" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IExServiceContract" contract="ExchangeService.IExServiceContract" name="NetTcpBinding_IExServiceContract">
                <identity>
                    <userPrincipalName value="OSMAN_MAZINOV\Mazinov"/>
                </identity>
            </endpoint>
            <endpoint address="net.tcp://127.0.0.1:6001/Icontract" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWtServiceContract" contract="WeatherService.IWtServiceContract" name="NetTcpBinding_IWtServiceContract">
                <identity>
                    <userPrincipalName value="OSMAN_MAZINOV\Mazinov"/>
                </identity>
            </endpoint>
            <endpoint address="net.tcp://127.0.0.1:6002/Icontract" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_INoteServiceContract" contract="NotesService.INoteServiceContract" name="NetTcpBinding_INoteServiceContract">
                <identity>
                    <userPrincipalName value="OSMAN_MAZINOV\Mazinov"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
