<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DailyInfoSoap" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_INoteServiceContract" />
                <binding name="NetTcpBinding_IExchangeServiceContract">
                    <security>
                        <transport sslProtocols="Tls, Tls11, Tls12" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IWeatherServiceContract">
                    <security>
                        <transport sslProtocols="Tls, Tls11, Tls12" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://127.0.0.1:6002/Icontract" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_INoteServiceContract"
                contract="NotesService.INoteServiceContract" name="NetTcpBinding_INoteServiceContract">
                <identity>
                    <userPrincipalName value="OSMAN_MAZINOV\Mazinov" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://127.0.0.1:6000/Icontract" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IExchangeServiceContract"
                contract="ExchangeService.IExchangeServiceContract" name="NetTcpBinding_IExchangeServiceContract">
                <identity>
                    <userPrincipalName value="omazinov@arsis.ru" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://127.0.0.1:6001/Icontract" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IWeatherServiceContract"
                contract="WeatherService.IWeatherServiceContract" name="NetTcpBinding_IWeatherServiceContract">
                <identity>
                    <userPrincipalName value="omazinov@arsis.ru" />
                </identity>
            </endpoint>
            <endpoint address="http://www.cbr.ru/DailyInfoWebServ/DailyInfo.asmx"
                binding="basicHttpBinding" bindingConfiguration="DailyInfoSoap"
                contract="RbcService.DailyInfoSoap" name="DailyInfoSoap" />
        </client>
    </system.serviceModel>
</configuration>
